<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EnvironmentVar" value="PYTHONNET_PYDLL"/>
    <add key="PythonDllPath" value="D:\Program Files\Python311\python311.dll" />
    <add key="DataUrl" value="https://raw.githubusercontent.com/uiuc-cse/data-fa14/gh-pages/data/iris.csv" />
    <add key="PlotFilePath" value="plot.png" />
  </appSettings>
</configuration>